@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.button-light-active {
  background-color: #2b2b2b;
}

.button-dark-active {
  background-color: #f4f4f4;
}

.dark-theme {
  color: #f4f4f4;
  background-color: #2b2b2b;
}

.light-theme {
  color: #2b2b2b;
  background-color: #f4f4f4;
}

.dark-theme *::-moz-selection,
.dark-theme *::selection {
  color: #2b2b2b;
  background-color: #f4f4f4;
}

.light-theme *::-moz-selection,
.light-theme *::selection {
  color: #f4f4f4;
  background-color: #2b2b2b;
}

.light-theme .button-polish-active,
.light-theme .button-english-active {
  opacity: 1;
  background-color: #2b2b2b;
  color: #f4f4f4;
}

.dark-theme .button-polish-active,
.dark-theme .button-english-active {
  opacity: 1;
  background-color: #f4f4f4;
  color: #2b2b2b;
}

.title {
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
}

.title-2 {
  font-size: 2rem;
}

.title > span {
  font-weight: 700;
}

.description,
.coming-soon-text {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.light-theme .description {
  color: #6a6a6a;
}

.dark-theme .description {
  color: #a6a6a6;
}

.light-theme .coming-soon-text {
  color: #878787;
}

.dark-theme .coming-soon-text {
  color: #898989;
}

.card {
  transition: all .1s ease-in-out;
}

.light-theme .card {
  border: 1px solid #a6a6a6;
}

.dark-theme .card {
  border: 1px solid #6a6a6a;
}

.social-title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.15rem
}

.social-description {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
}

.light-theme .social-description {
  color: #6a6a6a;
}

.dark-theme .social-description {
  color: #a6a6a6;
}

.light-theme .card:hover,
.light-theme .card:focus {
  transform: translateY(-10%);
}

.connection-error {
  background-color: #e74c3c;
}

.connection-error p {
  color: #f4f4f4;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.light-theme .game-item {
  border: 1px solid #a6a6a6;
}

.dark-theme .game-item {
  border: 1px solid #6a6a6a;
}

.game-title {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 600;
}

.game-stats-title {
  text-transform: uppercase;
  font-weight: 300;
}

.game-stats-value {
  font-weight: 600;
}

.item-stats-status {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.light-theme .item-stats-status.status-active {
  background-color: #2b2b2b;
  color: #f4f4f4;
}

.dark-theme .item-stats-status.status-active {
  background-color: #f4f4f4;
  color: #2b2b2b;
}

.light-theme .item-stats-status.status-inactive {
  background-color: #d2d2d2;
  color: #808080;
}

.dark-theme .item-stats-status.status-inactive {
  background-color: #151515;
  color: #6a6a6a;
}